/*
Citation:
    https://stackoverflow.com/questions/22592064/how-to-align-text-below-an-image-in-css
    https://www.tutorialspoint.com/How-to-use-an-image-as-a-link-in-HTML
    https://www.w3schools.com/cssref/default.asp
    https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
    https://developer.mozilla.org/en-US/docs/Web/CSS/padding
    https://developer.mozilla.org/en-US/docs/Web/CSS/position
    https://www.section.io/engineering-education/embedding-a-video-into-a-webpage-using-html-and-css/#embedding-a-video-into-a-webpage-using-html-and-css
*/

html{
    font-family: Homemade Apple;
    background-color: rgb(0, 0, 0);
}

body{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.header{
    background-color: rgb(80, 0, 16);
    padding: 20px 40px 15px 20px;
    margin: 0px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;   
}
.logo{
    width: 40px;
}
.links{
    text-decoration: none;
    color: rgb(222, 255, 189);
}

.close{
    position: relative;
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.hero{
    background: rgba(255, 53, 53, 0.486);
    position: absolute;
    top: 75px;
    width: 1000px;
    height: 100%;
    color: rgb(255, 255, 255);
}
h1{
    position: relative;
    font-weight: bold;
    font-size: 90px;
    text-decoration:underline;
    left: 150px;
    top: 60px;
}
h3{
    position: relative;
    padding: 0px;
    font-size:20px;
    line-height: 50px;
    letter-spacing: 0px;
    word-spacing: 5px;
    text-align: left;
    width: 600px;
    left: 150px;
    top: -30px;
}
.headerlinks{
    position: relative;
    padding: 8px 10px 5px 15px;
    font-size:20px;
    line-height: 50px;
    letter-spacing: 0px;
    word-spacing: 5px;
    text-align: left;
    width: 600px;
    left: 150px;
    top: -30px;
    text-decoration: none;
    color: white;
    background-color: rgb(170, 45, 45);
    border-radius: 10px;
}
.learn, .gallery{
    padding-right: 50px;
}

.vid{
    position: relative;
    background-color: rgb(187, 54, 54);
    width: 100%;
    top: -20px;
    height: 700px;
    margin: 0px;
    padding: 0px;
}

.txt{
    top: 100px;
    width: 400px;
    padding: 10px;
    word-wrap: break-word;
    position: absolute;
    right: 80px;
    font-size: 30px;
    color: white;
}

iframe{
    position: relative;
    left: 100px;
    top: 100px;
    bottom: 100px;
}

.graph{
    position: relative;
    background-color: rgb(170, 39, 39);
    width: 100%;
    top: -20px;
    height: 700px;
    margin: 0px;
    padding: 0px;
}

.graphic{
    position: relative;
    width: 700px;
    left: 650px;
    top: 50px;
    border: 2px dotted red;
}

.txt2{
    top: 200px;
    width: 400px;
    padding: 10px;
    word-wrap: break-word;
    position: absolute;
    left: 100px;
    font-size: 30px;
    color: white;
}

.footer{
    background-color: rgb(246, 160, 160);
    position: relative;
    top: -55px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;   
}

.desc{
    position: relative;
    left: 100px;
    top: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.contact{
    position: relative;
    width: 100%;
    text-decoration: none;
    list-style: none; 
}

.c{
    position:relative;
    top: 80px;
}

