html{
    font-family: Homemade Apple;
    background-color: rgb(156, 37, 37);
}
.header{
    background-color: rgb(80, 0, 16);
    padding: 20px;
    list-style: none;
    margin: -10px -10px;
    display: flex;
    justify-content: space-between;   
}

.typeslink{
    text-decoration: none;
    color: rgb(222, 255, 189);
    margin: absolute, 0;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    border: dotted red;
    background-color: black;
    padding: 10px 0px;
}

img{
    border: solid rgb(255, 0, 0);
    object-fit: cover;
    width: 300px;
    height: 300px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    justify-content: space-between;   
    margin: 30px;
}

.caption {
    display: block;
    color: white;
    font-size: 30px;
}

.logo{
    width: 30px;
    height: 30px;
    border: none;
}
