html{
    font-family: Homemade Apple;
    background-color: rgb(0, 0, 0);
}
.header{
    background-color: rgb(80, 0, 16);
    padding: 20px;
    list-style: none;
    margin: -10px -10px;
    display: flex;
    justify-content: space-between;   
}
.typeslink{
    text-decoration: none;
    color: rgb(222, 255, 189);
    margin: absolute, 0;
}

.iframe{
    margin-left: 150px;
    margin-top:50px;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    border: dotted red;
}

img{
    border: solid red;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    justify-content: space-between;   
    margin: 30px;
}


.caption {
    display: block;
    color: white;
}

.logo{
    width: 30px;
    height: 30px;
    border: none;
}