html{
    font-family: Homemade Apple;
    background-color: rgb(156, 37, 37);
}

body{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.header{
    background-color: rgb(80, 0, 16);
    padding: 20px 40px 15px 20px;
    margin: 0px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;   
}

.links{
    text-decoration: none;
    color: rgb(255, 189, 189);
}

.logo{
    width: 40px;
}

.gallery{
    /* border: dotted red; */
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 100px;
}

.head{
    color: white;
    text-align: center;
    font-size: 80px;
    text-decoration: underline;
}

.appledec{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.apple{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.caption {
    display: block;
    color: white;
    font-size: 20px;
    word-spacing: 5px;
}

.item1, .item2 {
    position: relative;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    justify-content: space-between;   
    margin: 40px;
    background-color: rgb(59, 7, 7);
    padding: 20px;
    border-radius: 10px;
    
}

 .row1, .row2{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 100px;
}

.footer{
    background-color: rgb(246, 160, 160);
    position: relative;
    top:15px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;  
    color: rgb(136, 136, 136); 
}

.desc{
    position: relative;
    left: 100px;
    top: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    
}

.contact{
    position: relative;
    width: 100%;
    text-decoration: none;
    list-style: none; 

}

.c{
    position:relative;
    left: 100px;
    top: 30px;
    display: flex;
    justify-content: space-between;  
}
